<section class="fw7fq9">
	<div class="lxwgdg">
		<div class="yf7tjk">
			<div class="dbjkj1">
				<img src="{{ asset('img/image-test.png') }}" alt="Satisfait ou remboursé" class="program-img">
			</div>
			<div class="aodjlb">
				<div class="zk2cf2 text-start">
					<header>
						<h2 class="zgnkt2">
							A propos de Lior Chamla
						</h2>
					</header>
					<div class="djnq1t">
						<div>
							Développeur web et formateur depuis plus de 13 ans, je forme les salariés et les étudiants sur des technologies telles que Symfony, React ou encore Angular !
						</div>
					</div>
                    <div class="wm8kpu">
                    <div class="zse2bl">
                    <a href="https://twitter.com/LiiorC" target="_blank" title="Twitter" service="twitter" class="sc-iuUfFv iuyVSc sc-jIyAiq gGJOJP"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="sc-fFoeYl sc-eWPXlR eEOegU btBrpq"><title>Twitter</title><g clip-path="url(#clip0_4242_2015)"><g clip-path="url(#clip1_4242_2015)"><path d="M24 4.37006C23.1034 4.7805 22.1488 5.05033 21.17 5.17006C22.2083 4.53006 22.9793 3.53523 23.34 2.37006C22.39 2.95006 21.34 3.37006 20.21 3.59006C19.754 3.08866 19.1981 2.68819 18.5781 2.41437C17.9582 2.14054 17.2878 1.99942 16.61 2.00006C15.856 2.00777 15.1136 2.18624 14.4385 2.52208C13.7634 2.85791 13.1732 3.34236 12.7122 3.93904C12.2512 4.53572 11.9315 5.22912 11.7769 5.96712C11.6224 6.70513 11.6371 7.46856 11.82 8.20006C9.84996 8.09251 7.92553 7.5659 6.17521 6.65539C4.4249 5.74488 2.88897 4.47143 1.67 2.92006C1.03409 4.03254 0.838449 5.34304 1.12171 6.59274C1.40498 7.84244 2.14656 8.9405 3.2 9.67006C2.41565 9.64148 1.65014 9.42178 0.97 9.03006V9.10006C0.97 11.5401 2.67 13.5801 4.92 14.0501C4.19621 14.2485 3.43619 14.2759 2.7 14.1301C3.33 16.1401 5.15 17.6001 7.3 17.6401C6.2865 18.4622 5.11782 19.0719 3.86363 19.4327C2.60945 19.7935 1.29545 19.898 0 19.7401C2.24048 21.2177 4.86613 22.0037 7.55 22.0001C16.61 22.0001 21.55 14.3001 21.55 7.63006V6.98006C22.51 6.27006 23.34 5.38006 24 4.37006Z"></path></g></g><defs><clipPath id="clip0_4242_2015"><rect width="24" height="24"></rect></clipPath><clipPath id="clip1_4242_2015"><rect width="24" height="24"></rect></clipPath></defs></svg></a>
                    </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
