<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	<div class="alert-message">
		<strong>Votre compte n'est pas activé</strong>,
		<a href="{{ path('app_resend_verification_email') }}">renvoyer le lien d'activation</a>
	</div>
</div>
