<section class="statisfied">
	<div class="container-programs">
		<section class="refunded">
			<div class="refunded-content">
				<div class="text-start">
					<header></header>
					<div class="content-program">
						<div class="fs-5">
							<strong>Pas de bla bla : 100% satisfait ou remboursé !</strong><br><br>Si à la fin de la formation, tu ne trouves pas que l'investissement valait le coup, la seule chose que tu as à faire est de me le faire savoir au plus tard 15 jours après l'invitation et
							<strong>je te rembourse 100% de ton achat 👍</strong><br><br><strong>Pas besoin d'explication ou de justification</strong>.&nbsp;<br>Clair et simple : si ça n'a pas été à la hauteur selon toi, je ne veux pas garder ton argent. Tu peux regarder la totalité de la formation et en tirer tous les bénéfices, et si à la fin tu n'es pas satisfait, tu récupères 100% du montant.
						</div>
					</div>
				</div>
			</div>
			<div class="img-program">
				<img src="{{ asset('img/satisfait-remboursement.png') }}" alt="Satisfait ou remboursé" class="program-img">
			</div>
		</section>
	</div>
</section>
