@font-face {
    font-family: AirbnbCereal;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/AirbnbCereal_W_Lt.otf);
    font-display: swap;
}

body {
    background-color: skyblue;
    font-family: AirbnbCereal, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.jyoYKi {
    min-height: 570px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    align-items: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    position: relative !important;
}

.container-fluid {
    max-width: 1440px;
}

.container-fluid {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

@media (min-width: 576px) {
    .container-fluid {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }
}

.btn-connect {
    background-color: #325d88 !important;
    border-color: #325d88 !important;
}

.btn-connect:hover {
    color: #FFF !important;
    background-color: #2b4f74 !important;
    border-color: transparent !important;
}

.dropdown-user {
    font-size: 13px;
    letter-spacing: 0em;
    line-height: 22px;
    text-transform: uppercase;
    color: rgb(26, 38, 45) !important;
    outline: none;
    font-weight: 600 !important;
    text-decoration: none;
    border-radius: 8px !important;
    padding: 4px 8px !important;
}

.dropdown-user:hover,
.dropdown-user:focus,
.dropdown-user:active {
    color: rgb(26, 38, 45) !important;
    background-color: rgb(237, 239, 240) !important;
    text-decoration: none;
}

.space-between {
    height: 0px;
    border-top: 1px solid rgb(213, 215, 217);
}

.color-btn-logout {
    color: rgba(26, 38, 45, 0.6) !important;
}

.color-btn-logout:hover,
.color-btn-logout:focus,
.color-btn-logout:active {
    color: rgb(26, 38, 45) !important;
    background-color: rgb(237, 239, 240) !important;
    text-decoration: none;
}

.btn-dropdown-user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
}

.sc-img-gravatar {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    margin: 0px auto;
    border-radius: 0px;
    aspect-ratio: unset;
    width: 100%;
}

.sc-gravatar .sc-img-gravatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #3460ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Login page
--------------------------------------------------------------*/
.card-fill {
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid #d5d7d9 !important;
    border-radius: 0.5rem !important;
    flex: 1 1 auto !important;
}

.card-fill .card-body {
    display: flex;
    align-items: center;
    padding: 20px !important;
}

@media (min-width: 576px) {
    .card-fill .card-body {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        padding-left: 28px !important;
        padding-right: 28px !important;
    }
}

.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.lh-label {
    line-height: 1.35rem;
}

.form-control-login {
    height: calc(1.75em + 0.875rem + 2px) !important;
    padding: 0.4375rem 1rem !important;
    line-height: 1.75 !important;
    color: #0d161b !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #d5d7d9 !important;
    border-radius: 0.5rem !important;
}

.form-control-login::-webkit-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::-moz-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login:-ms-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::-ms-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::placeholder {
    color: #9ea2a4 !important;
}

.form-control-login:focus {
    color: #0d161b !important;
    background-color: #fff !important;
    border-color: #0d161b !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1875rem #d5d7d9 !important;
}

form:invalid button.btn-dark[type=submit],
.btn-dark:disabled {
    color: #fff;
    background-color: #0d161b;
    border-color: #0d161b;
    opacity: 0.4;
}

.text-muted a {
    color: #53595c !important;
}

/*--------------------------------------------------------------
# Registration page
--------------------------------------------------------------*/
.text-very-weak {
    color: #842029;
    font-weight: 600;
}

.text-weak {
    color: #dc3545;
    font-weight: 600;
}

.text-medium {
    color: #fd7e14;
    font-weight: 600;
}

.text-strong {
    color: #20c997;
    font-weight: 600;
}

.text-very-strong {
    color: #198754;
    font-weight: 600;
}

/*--------------------------------------------------------------
# Profil Page
--------------------------------------------------------------*/
.account {
    overflow: hidden;
}

.tab-content {
    min-height: 455px;
}

.account .nav-link,
.password .nav-link {
    border: 0 !important;
    padding: 12px 15px 12px;
    transition: 0.3s;
    color: #2c4964 !important;
    border-radius: 0;
    border-bottom: 2px solid #ebf1f6 !important;
    font-weight: 600;
    font-size: 15px;
    min-width: 90px;
    text-align: center;
    text-transform: uppercase;
}

.account .nav-link:hover,
.password .nav-link:hover {
    color: #1977cc;
}

.account .nav-link.active,
.password .nav-link.active {
    color: #1977cc !important;
    border-color: #1977cc !important;
}

.account .tab-pane.active,
.password .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.text-h6 {
    font-size: 1.25rem !important;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: .0019rem !important;
    text-transform: none !important;
    color: rgb(97, 104, 110);
}

.link-modal-email {
    color: #1977cc;
    position: absolute;
    bottom: -10px;
}

.font-m {
    line-height: 24px;
    font-size: 14px !important;
}

.bold {
    font-weight: 700 !important;
}

.form-register {
    border: 0 solid #fff !important;
    border-bottom: 1px solid #ababab !important;
    border-radius: 0 !important;
    font-size: 14px;
    font-weight: 300 !important;
    height: calc(1.5em + .75rem + 2px);
    background-color: #1c1e21;
    color: inherit;
    font-size: 15px !important;
    height: 50px !important;
}

.form-register,
.has-content {
    padding: .375rem .75rem .375rem 0 !important;
}

.form-register:focus {
    background-color: #25272a;
    border-color: #1977cc !important;
    box-shadow: none;
    color: #fff;
}

.effect-17,
.form-register:focus {
    background-color: transparent !important;
}

.form-register:focus {
    box-shadow: 0 0 0 0 #fff !important
}

.newmail {
    color: #3b3f4a !important
}

.email_change {
    background: #1977cc !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    cursor: pointer;
    font-size: .9rem !important;
    margin: 24px 0 12px !important;
    padding: 16px !important;
    width: 100%;
    text-transform: uppercase;
}

.email_change:hover {
    background-color: #1977cc !important;
    border-color: none !important;
    color: #212529 !important;
}

.text-body-3 {
    margin: 0;
    padding: 0;
    line-height: 1.3125rem;
    letter-spacing: .0156rem !important;
    text-transform: none !important;
    color: rgb(72, 77, 81);
}

.password .form-control:focus {
    box-shadow: 0 0 0 0 #fff !important;
    background-color: transparent;
    border-color: rgb(97, 104, 110);
    border: 2px solid;
}

.password .form-control:hover {
    border-color: rgb(97, 104, 110);
}

.prepend-input {
    padding-left: 40px !important;
}

.prepend-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.togglePassword {
    cursor: pointer;
}

.advice-change-password {
    padding: 15px;
    font-size: 0.875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    margin-top: -7px;
    z-index: 300;
    background-color: #fff;
}

.avatar .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d5d7d9;
    border-radius: 0.5rem;
}

.avatar .card-header {
    margin-bottom: 0;
    background-color: transparent;
}

.grid-credentials {
    display: grid;
    gap: 32px;
    grid-template-areas: "header";
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 992px) {
    .grid-credentials {
        grid-template-areas: "header header";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-credentials {
        grid-template-areas: "header header header";
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-header-credentials {
    grid-area: header / header / header / header;
    margin-bottom: 16px;
}

.btn-transparent-grey {
    background-color: transparent;
    border-color: transparent;
    color: #53595c;
}

.btn-transparent-grey:hover {
    color: #53595c;
    background-color: #edeff0;
    border-color: rgba(0, 0, 0, 0);
}

.btn-transparent-grey:focus,
.btn-transparent-grey:active {
    color: #53595c !important;
    box-shadow: 0 0 0 0.1875rem rgba(83, 89, 92, 0.5) !important;
}

.modal-delete-title {
    font-size: 1.1875rem;
    color: #0d161b;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.35rem;
}

.modal-delete-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 2rem;
    padding-bottom: 0 !important;
    border-bottom: 0 solid #d5d7d9;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.modal-body-delete {
    padding: 2rem;
}

.mb-8 {
    margin-bottom: 32px !important;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.75rem;
    padding-left: 2rem;
    print-color-adjust: exact;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control.custom-checkbox .custom-control-label {
    line-height: 1.75;
    font-weight: 400;
    cursor: pointer;
}

.custom-control-label::before {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #d5d7d9;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.375rem;
}

.custom-control-label::after {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.custom-control-input:not(.is-invalid):focus~.custom-control-label::before {
    border-color: #0d161b;
    box-shadow: 0 0 0 0.1875rem #d5d7d9;
}

.custom-control-input:not(.is-invalid):not(:disabled):active~.custom-control-label::before {
    background-color: #edeff0;
    border-color: #d5d7d9;
}

.custom-control-input:not(.is-invalid):checked~.custom-control-label::before {
    background-color: #0d161b !important;
    border-color: #0d161b !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/check.svg);
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.5rem;
    height: 1.625rem;
    opacity: 0;
}

.modal-footer-delete {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 2rem 2rem 2rem;
    border-top: 0 solid #d5d7d9;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.img-preview {
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
    margin-top: 16px;
}

.vich-image img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
}

.toggle-password-button {
    top: -1.6rem !important;
}

/*--------------------------------------------------------------
# ResetPassword page
--------------------------------------------------------------*/
.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.7777777778 !important
}

/*--------------------------------------------------------------
# 2fa page
--------------------------------------------------------------*/
.label-for-2fa {
    line-height: 1.35rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.form-2fa-text {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem !important;
    line-height: 1.7142857143 !important;
    font-weight: 400;
}

.form-control-2fa {
    display: block;
    width: 100%;
    height: calc(1.75em + 0.875rem + 2px);
    padding: 0.4375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #0d161b;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d7d9;
    border-radius: 0.5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-2fa:focus {
    color: #0d161b;
    background-color: #fff;
    border-color: #0d161b;
    outline: 0;
    box-shadow: 0 0 0 0.1875rem #d5d7d9;
}

.custom-control-label-2fa {
    font-weight: 400;
    cursor: pointer;
    line-height: 1.75;
    color: #0d161b;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-2fa {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.75rem;
    padding-left: 2rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.custom-control-input-2fa {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.5rem;
    height: 1.625rem;
    opacity: 0;
}

.custom-control-label-2fa::before {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #d5d7d9;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.375rem;
}

.custom-control-label-2fa::after {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.custom-control-input-2fa:not(.is-invalid):checked~.custom-control-label-2fa::before {
    background-color: #0d161b !important;
    border-color: #0d161b !important;
}

.custom-control-input-2fa:checked~.custom-control-label-2fa::after {
    background-image: url(../img/check.svg);
}